@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
  background-color:#000;
  color: #FFF;
  overflow: hidden;
  font-family: 'Raleway';
}
.center {
    height: 100vh;
    display: flex;
    justify-content: center;
  text-align:center;
    align-items: center;
    overflow: hidden;
  font-size:250%;
}